<?xml version="1.0" encoding="UTF-8"?>
<suite thread-count="2" name="Suite" parallel="tests">
    <test name="CBTTest">
    <classes>
      <class name="com.shoppingcart.shoppingcart.AppTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="BitBarTest">
    <classes>
      <class name="com.shoppingcart.shoppingcart.AndroidAppiumExampleTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->