<?xml version="1.0" encoding="UTF-8"?>
<suite thread-count="2" name="Suite" parallel="tests">
	<test name="AndroidTest">
		<parameter name="browserName" value="Chrome" />
		<parameter name="deviceName" value="Nexus 9" />
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="6.0" />
		<parameter name="orientation" value="portrait" />
		<classes>
			<class name="com.shoppingcart.shoppingcart.AppTest" />
		</classes>
	</test> <!-- Test -->
	<test name="IOSTest">
		<parameter name="browserName" value="Safari" />
		<parameter name="deviceName"
			value="iPad 6th Generation Simulator" />
		<parameter name="platformName" value="iOS" />
		<parameter name="platformVersion" value="12.0" />
		<parameter name="orientation" value="portrait" />
		<classes>
			<class name="com.shoppingcart.shoppingcart.AppTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->